@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    max-width: 1440px;
    padding: 32px 64px 32px 64px;
    gap: 32px;
    font-family: "Montserrat";


}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.completedTask {
    display: flex;
    justify-content: space-between;
    max-width: 1312px;
    margin-top: 32px;
}

.completedTask button {
    max-width: 205px;
    max-height: 40px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #0C39C7;
    color: #0C39C7;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;


}

.task-item {
    max-width: 1272px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-item-list .operationBtn {
    display: flex;
    justify-content: space-between;
}

.task-item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.headerContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.operationBtn .icons {
    display: flex;
    gap: 10px;
}

.task-item-list p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #282829;
    margin: 0px;
}

.task-item-list span {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #475467;
    display: flex;
    align-items: center;
    gap: 5px;
}
.task-item-list span img{
    max-width: 13px;
}

#checkbox {
    appearance: none;
    padding-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    outline: none;
    border: #475467 1px solid;
    margin-left: 10px;
}

#checkbox:checked {
    background-image: url("../src/assets/images/checked.svg");
    background-size: contain;
    background-position: center;
    background-repeat: none;
    border: none;
}
.calendar{
    display: flex;
    align-items: center;
    gap: 5px;
}
.calendar img{
    max-width: 14px;
}

.task-item-list .due-date-over {
    background: #C035030F;
    color: #C03503;
    max-width: 148px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
  }
  .task-item-list .due-date-over{
    color: #C03503;
  }